<div class="container">
  <div class="items">
    <div class="texts">
      <div class="heading">
        About Us
      </div>
      <div class="subHeading">
        Are you looking to take your business online?
      </div>
      <div class="descText">
        Great Future Technology is a strategic, influential, and credible leader in the field of Technology
        services,With our unparalleled compliance to process and security standards, we are ISO certified 9001:2015.
        Our team of experts have diligently ensured that we align the IT solutions to meet the business needs of
        enterprises with agility and precision.
        We are global, and our customer base spans across industries on the worldwide map.
      </div>
    </div>
  </div>
  <div class="images">
    <img class="image-1" width="70%" src="../../assets/images/image 2.png" alt="">
    <img class="image-2" width="15%" src="../../assets/images/image 3.png" alt="">
  </div>
</div>
