.container {
  display: flex;
  position: relative;
  margin: 120px auto;
  width: 92%;
  height: 450px;
  /* background-color: aqua; */
  background-image: linear-gradient(#a3c5e4, #e5f2fd);
  border-radius: 50px;
  padding-top: 85px;
  /* padding-left: 30px; */
  /* width: ; */
}

.items {
  /* position: absolute; */
}

.texts {
  width: 480px;
  padding-left: 80px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 146%;
  color: #2b56bb;
}
.subHeading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 586px;
  font-size: 32px;
  line-height: 146%;
  color: #071C4D;;
}

.descText {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 500px;
  line-height: 32px;
  color: rgba(38, 50, 56, 0.59);
}

.images {
  position: relative;
  /* padding: 20px; */
  /* display: flex; */
}

.image-1 {
transform: translate(30%);
}

.image-2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(40px, -50%);
}

