<div class="container">
  <div class="theImage">
    <img src="../../assets/images/image-4.png" width="640px" alt="">
  </div>
  <div class="card">
    <div class="heading">Advanced Features</div>
    <div class="subHeading">Actionable Sale Report To Grow Your Business</div>
    <div class="descText">Intrinsicly network transparent services whereas B2C ROI. Globally
      create installed base quality vectors after innovative.</div>
    <div class="pointers">
      <img class="imageVector-1" src="../../assets/images/Vector.png" alt="">
      <div class="pointer">
        <div class="subsHead">IT Consultancy & Support</div>
        <div class="subsDesc">We can lead you to implement the high-level IT approach
          and advisory on improvements to your client experience.</div>
      </div>
      <img class="imageVector-2" src="../../assets/images/Vector.png" alt="">
      <div class="pointer">
        <div class="subsHead">IT Consultancy & Support</div>
        <div class="subsDesc">We can lead you to implement the high-level IT approach
          and advisory on improvements to your client experience.</div>
      </div>
      <img class="imageVector-3" src="../../assets/images/Vector.png" alt="">
      <div class="pointer">
        <div class="subsHead">IT Consultancy & Support</div>
        <div class="subsDesc">We can lead you to implement the high-level IT approach
          and advisory on improvements to your client experience.</div>
      </div>
      <img class="imageVector-4" src="../../assets/images/Vector.png" alt="">
      <div class="pointer">
        <div class="subsHead">IT Consultancy & Support</div>
        <div class="subsDesc">We can lead you to implement the high-level IT approach
          and advisory on improvements to your client experience.</div>
      </div>
    </div>
  </div>
</div>
