<div class="container">
  <div class="firstSec">
    <img class="imageTag" src="../../assets/images/GFT_With_R 1.png" alt="">
    <div class="desc">
      The heart and soul of GFTPL lies in providing customized IT solutions through research based tech. We work with a
      clear goal in mind, which is to empower our clients with tangible custom business solutions.
    </div>
  </div>
  <div class="secondSec">
    <div class="heading">
      Contact Us
    </div>
    <div class="subPointers">
      <img class="image-Log" src="../../assets/images/akar-icons_phone.png" alt="">
      <div class="pointer">
        +91-82780-75222
        <br>
        +91-176-2510922
      </div>
      <img class="image-Log" src="../../assets/images/Vector-1.png" alt="">
      <div class="pointer">
        info@gftpl.in
        <br>
        www.gftpl.in
      </div>
      <img class="image-Log" src="../../assets/images/Group.png" alt="">
      <div class="pointer">
        A-343, Chandigarh City
        Center, Zirakpur, Mohali,
        Punjab, IN 140603
      </div>
    </div>
  </div>
  <div class="thirdSec">
    <div class="heading">
      Policies
    </div>
    <div class="pointers">
      <div class="pointerPolicy">
        Terms of Policy
      </div>
      <div class="pointerPolicy">
        Privacy Policy
      </div>
      <div class="pointerPolicy">
        Return, Refund and Cancellations
      </div>
    </div>
  </div>
</div>
<div class="socialMedia">
  <div>
    <img src="../../assets/images/Group-6952.png" alt="">
  </div>
  <div>
    <img src="../../assets/images/Group-6953.png" alt="">
  </div>
  <div>
    <img src="../../assets/images/Group-6954.png" alt="">
  </div>
  <div>
    <img src="../../assets/images/Group-6955.png" alt="">
  </div>
</div>
