.container {
  position: relative;
  padding: 40px 0px;
}

.image-bg {
  width: 65%;
  margin: auto;
  display: flex;
}

.form {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(60%, 100px);
  height: 606px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 20px;
  width: 620px;
}

.heading {
  font-family: "Poppins", sans-serif;
  width: 450px;
  margin: auto;
  font-weight: 700;
  font-size: 39px;
  /* line-height: 72px; */
  color: #393939;
  padding-top: 75px;
}

.input {
  height: 50px;
  padding: 60px 0px;
}

.desc-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 60%;
  margin: auto;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.42);
}

.desc-2 {
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #071c4d;
}

.button {
  background: #7db0de;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 280px;
  margin: auto;
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 146%;
  color: #10171e;
  padding: 10px 0px;
}


.charImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(90px, 370px);
  width: 400px;
}

.msgImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(1080px, 310px);
  width: 110px;
}

.planeImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(910px, 450px);
  width: 145px;
}

.success {
  width: 260px;
  padding: 20% 40px 100px 0px;
}

.sheildImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(880px, 60px);
  width: 190px;
}
